header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
  background-color: cornflowerblue;
}

.logo {
  margin-bottom: 25px;
}

.header-links {
  padding: 10px;
  font-size: large;
  color: black;
}

.post-link {
  color: black;
  text-decoration: none;
}

.post-container {
  margin: 0 10px 20px 10px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(203, 220, 255);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-posts {
  max-width: 80%;
}

.all-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#post {
  width: 60%;
}

#comment-form-container {
  width: 40%;
}

#comment-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(203, 220, 255);
  margin-bottom: 30px;
}

#comment-submit {
  height: 40px;
  align-self: center;
  font-size: larger;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgb(166, 197, 255);
}

#comment-submit:active {
  background-color: cornflowerblue;
}

.comment-input {
  margin-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  border-radius: 5px;
  border: none;
}

.comment {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  max-width: 35%;
  width: 35%;
  margin-bottom: 15px;
}

h3 {
  text-decoration: underline black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

hr {
  width: 75%;
  margin: 20px;
}
